<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사칙연산</title>
</head>
<body>
    <form action="/result" method="post">
    <input type = "text" name= "num1" size="10"> + 
    <input type= "text" name="num2" size="10"><br>
    <input type = "text" name= "num3" size="10"> -
    <input type= "text" name="num4" size="10"><br>
    <input type = "text" name= "num5" size="10"> * 
    <input type= "text" name="num6" size="10"><br>
    <input type = "text" name= "num7" size="10"> / 
    <input type= "text" name="num8" size="10"><br>

    <input type="submit" value="연산" onclick=""><br>
</form>
</body>
</html>
