<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 제품 목록 </h1>
    <table border="1">            
        <tr>
            <td>id</td>
            <td>제품명</td>
            <td>가격</td>
            
            
        </tr>
        <% for(var i=0; i<data.length; i++){%>
        <tr>
            <td><%= data[i].id%></td>
            <td><%= data[i].name%></td>
            <td><%= data[i].price%></td>
        </tr>
  
        <% }%>
    </table>
    
</body>
</html>