<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 제품입력 </h1>
    <FORM action="/customer/insert" method="post">
        이름 : <INPUT TYPE="text" NAME="name" > <p></p>
        제품: <INPUT TYPE="text" NAME="product" > <p></p>
    <INPUT TYPE="submit" VALUE="전송"> 
    
</body>
</html>